<div class="auth-component" id="login-container"> 

   <div class="card">
        <!-- Imagen -->
        <div class="header-imagen">
            <img src="../../assets/img/cafePlano.gif" alt="gifLogin">
        </div>
 
        <!-- Formulario -->
        <div class="contenedor-formulario">
            <div class="tabs">
                <a class="tab active">Iniciar Sesión</a>
                <a class="tab" onclick="switchView()">Registrarse</a>
            </div>
 
            <form id="login-form">

                <div class="campo-wrapper">
                    <div class="grupo-input">
                        <i class="fa-regular fa-envelope"></i>
                        <input id="log-email" type="email" placeholder="Correo electrónico:" >
                    </div>
                </div>

                <div class="campo-wrapper">
                    <div class="grupo-input">
                        <i class="fa-solid fa-lock"></i>
                        <input id="log-password" type="password" placeholder="Contraseña:" >
                        <i class="fa-regular fa-eye toggle-pass" data-target="log-password" title="Mostrar contraseña"></i>
                    </div>
                </div>

          
                <div class="olvido-pass">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>

                <button type="submit" class="btn-registrarse">Entrar</button>

            </form>
        </div>
    </div>
</div>
