<div class="nav-container-full">

    <!-- Franja -->
    <div class="label-tag-full">
        ¡ Conoce historias de Café, desde la cosecha hasta la taza caliente en la mañana!
    </div>

    <!-- Animación -->
    <div id="coffecup-transition">
        <div class="coffee-stain"></div>
        <div class="coffecup">
            <img src="../../assets/img/cafe_animation.png" class="coffecup-img">
        </div>
    </div>

    <nav class="navbar navbar-expand-lg nav-custom-full">

        <!-- Logo -->
        <a class="navbar-brand brand-container" href="../../pages/home/home.html">
            <img src="../../assets/img/logo-light.svg" class="nav-logo">
            <div class="brand-text">
                <!-- //<span class="brand-title">Historias de Café</span>//  -->

            </div>
        </a>

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler hamburger-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarMenu">

            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>

        </button>

        <!-- Contenido -->
        <div class="collapse navbar-collapse" id="navbarMenu">

            <!-- Links -->
            <div class="navbar-nav mx-auto">
                <a class="nav-link link3 opcionesBarra" href="../../pages/home/home.html">Inicio</a>
                <a class="nav-link link3 opcionesBarra" href="../../pages/catalogo/catalogo.html">Catálogo</a>
                <!-- <a class="nav-link link3" href="#">Origen</a> -->
                <a class="nav-link link3 opcionesBarra"
                    href="../../pages/acercaDeNosotros/acerca_de_nosotros.html">Nosotros</a>
                <a class="nav-link link3 opcionesBarra" href="../../pages/contactanosParts/contactanos.html">Contacto</a>
            </div>

            <!-- Acciones -->
            <div class="nav-actions">

                <!-- Carrito -->
                <button class="icon-btn3" onclick="toggleCarrito()">
                    <img src ="../../assets/icons/carritoCafe2.svg" alt="carrito de compras" class="carrito-icon" >
                    <div id="conteo-productos-nav" class="badge-dot3">0</div>
                </button>

        <div class="user-auth-wrapper">

          <img src="../../assets/icons/user.svg" alt="usuario" class="usuario-icon-nav">
        
   
          <div id="user-status-content" class="user-status-content">

         </div>
        

         <button id="nav-auth-btn" class="cta-primary">Iniciar Sesión</button>
        </div>

            </div>

        </div>
    </nav>
</div>
