<div class="nav-container-full">

    <!-- Franja -->
    <div class="label-tag-full">
        ¡ Conoce historias de Café, desde la cosecha hasta la taza caliente en la mañana!
    </div>

    <!-- Animación -->
    <div id="coffecup-transition">
        <div class="coffee-stain"></div>
        <div class="coffecup">
            <img src="/assets/img/animation_cup.svg" class="coffecup-img">
        </div>
    </div>

    <nav class="navbar navbar-expand-lg nav-custom-full">

        <!-- Logo -->
        <a class="navbar-brand brand-container" href="/">
            <img src="/assets/img/logo.png" class="nav-logo">
        </a>

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler hamburger-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarMenu">

            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>

        </button>

        <!-- Contenido -->
        <div class="collapse navbar-collapse" id="navbarMenu">

            <!-- Links -->
            <div class="navbar-nav mx-auto">
                <a class="nav-link link3 opcionesBarra" href="/pages/catalogo/catalogo.html">Catálogo</a>
                <a class="nav-link link3" href="#">Origen</a>
                <a class="nav-link link3 opcionesBarra"
                    href="/pages/acercaDeNosotros/acerca_de_nosotros.html">Nosotros</a>
                <a class="nav-link link3 opcionesBarra" href="/pages/contactanosParts/contactanos.html">Contacto</a>
            </div>

            <!-- Acciones -->
            <div class="nav-actions">

                <!-- Buscar -->
                <div class="search-box">
                    <i class="bi bi-search"></i>
                    <span class="search-label">Buscar</span>
                </div>

                <!-- Carrito -->
                <button class="icon-btn3" onclick="toggleCarrito()">
                    <i class="bi bi-bag"></i> 
                    <img src ="/assets/icons/carritoCafe2.svg" alt="carrito de compras" class="carrito-icon" >
                    <div id="conteo-productos-nav" class="badge-dot3">0</div>
                </button>

                <!-- Usuario -->
                <button class="icon-btn3">
                    <!-- <i class="bi bi-person"></i>  Cambiado a imagen personalizada -->
                    <img src ="/assets/icons/user.svg" alt="usuario" class="usuario-icon" >
                    <!-- <div class="badge-dot3"></div> -->
                </button>

                <!-- CTA -->
                <button class="cta-primary">Registro</button>

            </div>

        </div>
    </nav>
</div>