<div class="auth-component" id="register-container"> 

   <div class="card">
        <!-- Imagen -->
        <div class="header-imagen">
            <img src="/assets/img/gifRegistrar.gif" alt="gifRegister">
        </div>
 
        <!-- Formulario -->
        <div class="contenedor-formulario">
            <div class="tabs">
                <a class="tab">Iniciar Sesión</a>
                <a class="tab active">Registrarse</a>
            </div>
 
            <form>
                   <div class="grupo-input">
                   <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Nombre Completo:">
                </div>
                <div class="grupo-input">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="Correo electrónico:">
                </div>
 
                <div class="grupo-input">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Contraseña:">
                </div>
 
                <div class="grupo-input">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Confirmar Contraseña:">
                </div>
 
                <button type="submit" class="btn-registrarse">Registrarse</button>
            </form>
        </div>
    </div>  